/* NAVBAR STYLE*/

#basic-navbar-nav{
align-items: center;
justify-content: center;
}

.flex-margin{
  display: flex;
  margin-left: 40%;
}

.me-2{
  margin-right: 0rem;
}

.cart-holder{
 display: flex;
 flex-direction: row;
 align-items: center;
}

#cart-icon{
  font-size: xx-large;
  color: #66B2FF;
  margin-left: 1rem;
  margin-right: 1rem;
}

.cart-counter{
  display: block;
  margin: 0;
  align-items: center;
  justify-content: center;
  font-size: large;
}


/* BODY-SHOP NAVBAR STYLE*/

.body-shop-navbar{
  width: 100%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row-reverse;
  background-color: #66B2FF;
}

#body-shop-navbar-nav{
  margin-right: 3%;
}

#basic-nav-dropdown{
  color: #404040;
  font-size: large;
  font-weight: 400;
}

#list-icon{
  color: #404040;
}

.dropdown-section {
  margin-right: 1rem;
}

@media (max-width:767px) {
  .dropdown-title {
    background-color:#fff;
  }
}

/* BODY-SHOP CONTENT STYLE*/

.shop-main-container{
  display: flex;
  flex-direction: row;
  width:85%;
  margin: 0 auto 0 auto
}


/* PRODUCT(list) STYLE*/

.product-container {
  width: 70%;
  margin: 5rem auto 5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  row-gap: 3rem;
  justify-items: stretch;
  align-items: stretch;
}

.product {
  width: 85%;
  margin: 0;
  padding: 1rem;
  cursor: pointer;
  border: 1px solid rgb(40, 44, 52, 0.3);
  transition: 0.4s ease;
  text-align: center;
}

.product:hover {
  transform: scale(1.02);
  border: 1px solid #282c34;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.product-detail-image {
  height: 13rem;
  object-fit: contain;
}

.product-detail {
  height: 7rem;
}

.product-detail-name {
  margin: 1rem 0;
  font-weight: 500;
  text-align: center;
}

.product-detail-price {
  margin: 5px 0;
  text-align: center;
  color:darkblue;
}

/* MY CAROUSEL STYLE*/

.carousel-box{
  width: 75%;
  margin: 5rem auto 5rem auto;
}

.d-bolck{
  display: block;
}

/* .w-100{
  width: 100%;
} */

.carousel-background-1{
  background-image: url(./assets/images/background/health.jpg);
  background-size:cover;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.carousel-background-2{
  background-image: url(./assets/images/background/woman.jpg);
  background-size:cover;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.carousel-background-3{
  background-image: url(./assets/images/background/coach.png);
  background-size:cover;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.thin-logo-1{
  width: 20%;
  margin: 0;
  position: relative;
  margin: 8rem auto 0 auto;
}

.thin-logo-2{
  width: 20%;
  margin: 0;
  position: relative;
  margin: 13.5rem auto 0 auto;
}

.thin-logo-3{
  width: 20%;
  margin: 0;
  position: relative;
  margin: 12rem auto 0 auto;
}

.carousel-slogan{
  font-size: 38px;
}

.carousel-paragraph{
  width: 50%;
  margin: auto auto 1rem auto;
  font-size: 20px;
}

/* BODYSHOP SIDEBAR STYLE*/

.side-bar-container{
  display: flex;
  flex-direction: column;
  max-width: 12rem;
  white-space: pre-wrap;
  height: auto;
  margin-top: 5rem;
}
#side-bar-dropdown-1{
  position: relative;
  border: none;
  margin:0;
}

#side-bar-dropdown-1 :hover{
  font-weight: bold;
  background-color: white;
}

#side-bar-dropdown-header-1{
  color: #66B2FF;
  font-size: 26px;
  font-weight: bold;
}

#side-bar-dropdown-2{
  position: relative;
  border: none;
  margin:0;
}

#side-bar-dropdown-2 :hover{
  font-weight: bold;
  background-color: white;
}

#side-bar-dropdown-header-2{
  color: #66B2FF;
  font-size: 26px;
  font-weight: bold;
}

.side-bar-dropdown-item{
  height: auto;
  word-wrap: break-word;
  display: block;
}

/* ADMIN SIDEBAR STYLE*/

#side-bar-dropdown-admin{
  position: relative;
  border: none;
  margin:0;
}

#side-bar-dropdown-admin :hover{
  font-weight: bold;
  background-color: white;
}

/* ADMIN MAIN CONTENT STYLE*/

.admin-main-container{
  display: flex;
  flex-direction: row;
  width:85%;
  margin: 0 auto 0 auto
}

/* DATA CONTAINER(tables for admin site) STYLE*/

.add-new-button-holder{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.data-table-container{
  width: 80%;
  margin: 0 auto 5rem auto;
}

.data-table{
  margin: 5rem 0 5rem 0;
}

.data-table-icon-holder{
  text-align: center;
  vertical-align: middle;
  font-size: small;
  margin: auto 0 auto 0;
  padding: 0;
}

.edit-table :hover{
  color: #66B2FF;
}

.delete-table :hover{
  color:crimson;
}

/* ADMIN NAVBAR STYLE*/

.admin-navbar{
  background-color: #66B2FF;
}

#admin-nav-dropdown{
  color: #404040;
  font-size: large;
  font-weight: 400;
}

.dropdown-section {
  margin-right: 1rem;
}

@media (max-width:767px) {
  .dropdown-title {
    background-color:#fff;
  }
}

.admin-search{
  display: flex;
  margin-left: 45%;
}

/* REGISTRATION STYLE*/

.registration-form-container{
  width: 60%;
  margin: 5rem auto 5rem auto;
}

.registration-form-holder{
  margin: 0rem 2rem 5rem 2rem;
}

.join-us-title-holder{
  margin-bottom: 2rem;
}

.join-us-title{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #66B2FF;
  height: 5rem;
}

#form-submit-button{
  color: white;
  background-color: #66B2FF;
  border-color: #66B2FF;
}

.form-submit-button-holder{
  text-align: right;
}

#form-submit-button:hover{
  background-color: #2581dd;
  border-color: #2581dd;
}

/* Login STYLE*/

.login-form-container{
  width: 45%;
  margin: 5rem auto 5rem auto;
}

.login-title-holder{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #66B2FF;
  height: 3rem;
  margin-bottom: 2rem;
}

#login-button{
  color: white;
  font-size: large;
  background-color: #66B2FF;
  border-color: #66B2FF;
}

#login-button:hover{
  background-color: #2581dd;
  border-color: #2581dd;
}

.login-button-holder{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

/* FOOTER STYLE*/

.footer-holder{
  background-color: #66B2FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 4rem 0;
  margin-top: 10rem;
}

.footer-holder hr{
  background-color: white;
}

.footer-title-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
}

.footer-contact-icon-holder{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.footer-icon-holder{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 3rem;
  height: 3rem;
  margin: 0 1rem 0 1rem;
  border-style: solid;
  border-color: white;
  border-radius: 50%;
}

.icon{
  color: #66B2FF;
}

.icon:hover{
  color: #2581dd;
}

.stripe{
  width: 35%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 1rem;
  margin-bottom: 1rem;
}