
/* PRODUCT STYLE*/

.product-container {
  width: 80%;
  margin: 5rem auto 5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  row-gap: 4rem;
}

.product {
  width: 70%;
  margin: 0;
  padding: 1rem;
  cursor: pointer;
  border: 1px solid rgb(40, 44, 52, 0.3);
  transition: 0.4s ease;
}

.product:hover {
  transform: scale(1.02);
  border: 1px solid #282c34;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.product-detail-image {
  height: 13rem;
  object-fit: contain;
}

.product-detail {
  height: 7rem;
}